* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$mainBackground: rgb(253, 249, 238);
$headerBackground: #ffca95;
$selectionBackground: rgb(155, 83, 0);

$selectionText: rgb(242, 239, 239);
$headerText: #2b2b2b;

// change the selection color
::selection {
  background-color: $selectionBackground;
  color: $selectionText;
}

body {
  background: $mainBackground;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0.5rem;
  background-color: $headerBackground;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  h1 {
    font-family: 'Carter One', cursive;
    font-size: 5rem;
    color: $headerText;
    text-shadow: 0.1em 0.1em 0.2em #b6906a;
  }
}

main {
  padding: 2rem 2rem;
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    input {
      font-size: 1.5rem;
      vertical-align: baseline;
      font-weight: 400;
      line-height: 1.29;
      letter-spacing: .16px;
      border-radius: 0;
      outline: 2px solid transparent;
      outline-offset: -2px;
      height: 40px;
      border: none;
      border-bottom: 1px solid #8d8d8d;
      background-color: #dcdada;
      padding: 2px 16px;
      color: #161616;
      border-radius: 5px;
      transition: background-color 70ms cubic-bezier(.2,0,.38,.9),outline 70ms cubic-bezier(.2,0,.38,.9); 
      :focus{
          outline: 2px solid #0f62fe;
          outline-offset: -2px;
      }
      margin-right: 1.5rem;
    }
    input#date {
      width: 30%;
    }
    button {
      font-size: 1.2rem;
      padding: 1.2rem 0.9rem;
      background-color: brown;
      color: white;
      border: none;
      border-radius: 9999px;
      box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.5);
      cursor: pointer;
    }
  }

  div.sort {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;
    button {
      font-size: 1.75rem;
      font-weight: bold;
      padding: 0.5rem 0.85rem;
      background-color: rgb(103, 44, 44);
      color: rgb(232, 232, 232);
      border: none;
      border-radius: 8px;
      box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.5);
      cursor: pointer;
    }
  }
}


@media screen and (max-width: 640px) {
  header {
    h1 {
      font-size: 3rem;
    }
  }
  main {
    padding: 2rem 1.5rem;
    form {
      input {
        font-size: 1rem;
        margin-right: 0.8rem;
      }
      input[type=text] {
        width: 60%;
      }
      button {
        font-size: 1rem;
        padding: 1rem 0.8rem;
      }
    }
    div.sort {
      button {
        font-size: 1.15rem;
      }
    }
  }
}
@media screen and (max-width: 410px) {
  header {
    h1 {
      font-size: 2rem;
    }
  }
  main {
    padding: 2rem 1rem;
    form {
      input {
        font-size: 0.8rem;
        margin-right: 0.65rem;
      }
      input[type=text] {
        width: 60%;
      }
      button {
        font-size: 0.8rem;
        padding: 0.8rem 0.6rem;
      }
    }
    div.sort {
      button {
        font-size: 0.92rem;
      }
    }
  }
}