* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
}

body {
  position: relative;
}

.orange {
  position: absolute;
  right: 0;
  top: -10vh;
  width: 100vw;
  height: 110vh;
  z-index: -10;
}

header {
  padding-top: 2rem;
  nav {
    width: 100%;
    ul {
      width: 70%;
      display: flex;
      justify-content: space-around;
      li {
        list-style: none;
        font-size: 1.5rem;
        a {
          text-decoration: none;
          color: black;
          transition: all 0.25s ease;
          padding: 0.2rem 0.5rem;
          &:hover {
            background-color: rgb(191, 196, 201);
          }
        }
      }
    }
  }
}


main {
  display: flex;
  flex-wrap: wrap;
  section.left {
    flex: 3 1 500px;
    padding-left: 2rem;
    padding-top: 2rem;
    h1 {
      font-size: 4rem;
    }
    p {
      font-size: 1.1rem;
      margin-bottom: 1rem;
    }
  }
  section.right {
    flex: 1 1 600px;
    position: relative;
    img.myPic {
      width: 30rem;
      border-radius: 50%;
      position: absolute;
      top: 6vh;
      right: 12vw;
    }
  }

  // second page
  section.table{
    flex: 3 1 500px;
    padding: 1.5rem;
    table {
      border-collapse: collapse;
      tr {
        border-bottom: 2px solid gray;
        td {
          padding: 0.7rem;
          font-size: 1.5rem;
          img {
            width: 4rem;
            height: 4rem;
          }
          ul {
            list-style: none;
          }
        }
        transition: all 0.25s ease;
        &:hover {
          background-color: rgb(255, 209, 124);
        }
      }
    }
  } 
  section.picture{
    position: relative;
    flex: 1 1 600px;
    padding: 1.5rem;
    img {
      width: 35vw;
    }
    div.orangeRect {
      position: absolute;
      background-color: rgb(224, 121, 25);
      width: 35vw;
      height: 35vw;
      z-index: -10;
      top: 80px;
      left: 80px;
    }
  }
}

footer {
  padding: 1rem 2rem;
  a {
    padding: 0 0.25rem;
  }
}

@media screen and (max-width: 1117px){
  
  .orange {
    top: -5vh;
    height: 105%;
    opacity: 0.7;
  }
  
  header {
    nav {
      ul {
        flex-direction: column;
        padding-left: 1.7rem;
        li {
          padding-bottom: 1rem;
          text-decoration: underline;
        }
      }
    }
  }

  main {
    section.right {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 1rem;
      img.myPic {
        position: static;
        width: 60vw;
      }
    }

    section.picture {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 50vw;
        height: 50vw;
        border-radius: 8px;
        /* offset-x | offset-y | blur-radius | spread-radius | color */
        box-shadow: 10px 10px 2px 1px rgba(0, 0, 0, 0.5);
      }
      div.orangeRect {
        display: none;
      }
      margin-bottom: 1rem;
    }
  }

  footer {
    display: flex;
    justify-content: center;
    a {
      img {
        width: 5rem;
      }
    }
  }
}

