* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
}

body {
  position: relative;
}

.orange {
  position: absolute;
  right: 0;
  top: -10vh;
  width: 50vw;
  height: 150vh;
  z-index: -10;
}

header {
  padding-top: 2rem;
  nav {
    width: 100%;
    ul {
      width: 70%;
      display: flex;
      justify-content: space-around;
      li {
        list-style: none;
        font-size: 1.5rem;
        a {
          text-decoration: none;
          color: black;
          transition: all 0.25s ease;
          padding: 0.2rem 0.5rem;
          &:hover {
            background-color: rgb(191, 196, 201);
          }
        }
      }
    }
  }
}


main {
  display: flex;
  flex-wrap: wrap;
  section.left {
    flex: 3 1 500px;
    padding-left: 2rem;
    padding-top: 2rem;
    h1 {
      font-size: 4rem;
    }
    p {
      font-size: 1.1rem;
    }
  }
  section.right {
    flex: 1 1 600px;
    position: relative;
    img.myPic {
      width: 30rem;
      border-radius: 50%;
      position: absolute;
      top: 18vh;
      right: 10vw;
    }
  }
}
