* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

body {
  position: relative;
}

.orange {
  position: absolute;
  right: 0;
  top: -10vh;
  width: 100vw;
  height: 110vh;
  z-index: -10;
}

header {
  padding-top: 2rem;
}
header nav {
  width: 100%;
}
header nav ul {
  width: 70%;
  display: flex;
  justify-content: space-around;
}
header nav ul li {
  list-style: none;
  font-size: 1.5rem;
}
header nav ul li a {
  text-decoration: none;
  color: black;
  transition: all 0.25s ease;
  padding: 0.2rem 0.5rem;
}
header nav ul li a:hover {
  background-color: rgb(191, 196, 201);
}

main {
  display: flex;
  flex-wrap: wrap;
}
main section.left {
  flex: 3 1 500px;
  padding-left: 2rem;
  padding-top: 2rem;
}
main section.left h1 {
  font-size: 4rem;
}
main section.left p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
main section.right {
  flex: 1 1 600px;
  position: relative;
}
main section.right img.myPic {
  width: 30rem;
  border-radius: 50%;
  position: absolute;
  top: 6vh;
  right: 12vw;
}
main section.table {
  flex: 3 1 500px;
  padding: 1.5rem;
}
main section.table table {
  border-collapse: collapse;
}
main section.table table tr {
  border-bottom: 2px solid gray;
  transition: all 0.25s ease;
}
main section.table table tr td {
  padding: 0.7rem;
  font-size: 1.5rem;
}
main section.table table tr td img {
  width: 4rem;
  height: 4rem;
}
main section.table table tr td ul {
  list-style: none;
}
main section.table table tr:hover {
  background-color: rgb(255, 209, 124);
}
main section.picture {
  position: relative;
  flex: 1 1 600px;
  padding: 1.5rem;
}
main section.picture img {
  width: 35vw;
}
main section.picture div.orangeRect {
  position: absolute;
  background-color: rgb(224, 121, 25);
  width: 35vw;
  height: 35vw;
  z-index: -10;
  top: 80px;
  left: 80px;
}
main section.form {
  flex: 1 1 500px;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-bottom: 4rem;
}
main section.form form {
  min-height: 70vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
main section.form form div {
  margin: 0.5rem;
}
main section.form form div label {
  font-size: 1.5rem;
}
main section.form form div input, main section.form form div textarea {
  background-color: rgb(255, 168, 113);
  color: black;
  font-size: 1.1rem;
  padding: 0.25rem;
  border: none;
  width: 70%;
}
main section.form form div textarea {
  vertical-align: top;
}
main section.form form button {
  position: absolute;
  left: 25%;
  bottom: -9%;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 8px;
  width: 26%;
  padding: 0.5rem 0.5rem;
  font-size: 1.25rem;
  cursor: pointer;
}
main section.contact {
  flex: 1 1 500px;
}
main section.contact div.content h2 {
  margin: 2.8rem;
  font-size: 1.75rem;
}
main section.contact img {
  margin-left: 30%;
}

footer {
  padding: 1rem 2rem;
}
footer a {
  padding: 0 0.25rem;
}

@media screen and (max-width: 1117px) {
  .orange {
    top: -5vh;
    height: 105%;
    opacity: 0.7;
  }
  header nav ul {
    flex-direction: column;
    padding-left: 1.7rem;
  }
  header nav ul li {
    padding-bottom: 1rem;
    text-decoration: underline;
  }
  main section.right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
  }
  main section.right img.myPic {
    position: static;
    width: 60vw;
  }
  main section.picture {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  main section.picture img {
    width: 50vw;
    height: 50vw;
    border-radius: 8px;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 10px 10px 2px 1px rgba(0, 0, 0, 0.5);
  }
  main section.picture div.orangeRect {
    display: none;
  }
  footer {
    display: flex;
    justify-content: center;
  }
  footer a img {
    width: 5rem;
  }
}/*# sourceMappingURL=style.css.map */