* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
}

$defaultColor: #09777D;

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1.2rem;
  margin-bottom: 1rem;
  div.logo {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    flex: 6 1 400px;
    img {
      width: 8vw;
      height: 8vh;
    }
    h1 {
      font-size: 1.9rem;
    }
  }

  nav {
    flex: 1 1 400px;
    ul {
      display: flex;
      list-style-type: none;
      justify-content: space-around;
      a {
        text-decoration: none;
        color: $defaultColor;
        font-size: 1.2rem;
      }
    }
  }
}

@media screen and (max-width: 500px){
  header {
    div.logo {
      img {
        width: 15vw;
        height: 15vh;
      }
    }
  }
}

main {
  section.backgroungImg {
    background-image: url(../Pictures/pexels-photo-416676.jpeg);
    width: 100%;
    height: 86.9vh;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h3 {
      text-align: center;
      color: aliceblue;
      font-size: 3rem;
      font-weight: bold;
    }

    button {
      padding: 1rem 1.5rem;
      background-color: rgb(102, 209, 173);
      color: azure;
      border: none;
      border-radius: 1rem;
      font-size: 1.25rem;
      cursor: pointer;
      margin-top: 1.25rem;
    }

    div.filter {
      background-color: black;
      opacity: 0.2;
      width: 100%;
      height: 86.9vh;
      position: absolute; // 不讓剩下的元素跑掉
      top: 0;
      z-index: -1;
    }
  }
}